.contact-us {
  position: relative;
  padding: 60px 100px 80px;
  background-color: var(--color-grey);
  border-radius: var(--border-radius-large);
  overflow-x: hidden;

  &::after {
    --contentImageOffsetY: 62px;

    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    translate: -50% -50%;
    height: calc(100% - var(--contentImageOffsetY) * 2);
    aspect-ratio: 1;
    background: url("../../images/contact-us-image.svg") center/contain
      no-repeat;
  }

  &__form,
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__form {
    row-gap: 40px;
    max-width: 556px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}
